
.calc-container {
  margin: 30%;
  width: 60%;

  .display {
    height: 50px;
    width: 100%;
    text-align: right;
    padding: 15px;
  }

  .btns-container{
    border-top: 5px solid $border-color;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(4,1fr);
    input{
        background-color: pink;
        border: 1px solid white;
        color: $text;
        font-size: 18px;
        padding: 25px 10px;
        cursor: pointer;
        &:hover{
            background-color: $bg-color-hover;
        }
    }
}
}
